<div class="jumbotron text-center">
<h1>Wlcome to Dev match</h1>
  <h3> A site where entrepreneurs meet with developers<h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Basic Plan</h2>
      <h4 class="text-center">Sign Up for free and get basic access to our community.</h4>
      </br>
      <%= link_to "Sign Up Basic", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block'%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center">Pro Membership</h2>
      <h4 class="text-center">Sign Up for pro accaount for 10$/month and get access to our community and contact information!</h4>
      <%= link_to "Sign Up Pro", new_user_registration_path, class: 'btn btn-success btn-lg btn-block'%>
    </div>
  </div>
</div>