<!DOCTYPE html>
<html>
  <head>
  
  </head>

  <body>
    
    <p> Tou have recieved a massege from a site contact form, from <%= "#{ @name }, #{ @email }." %> </p>
    <p>  <%= @body %> </p>
  </body>
</html>
